{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as macros %}

<div class="max-w-md mx-auto mt-8">
    <h2 class="text-2xl font-semibold text-heading mb-6 text-center">Agregar Nuevo Curso</h2>
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="relative z-0 w-full mb-5 group">
            {{macros.camposNuevos(form.nombre, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent
            border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand
            peer", placeholder="Nombre del Curso")}}
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{macros.camposNuevos(form.descripcion, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent
            border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand
            peer", placeholder="Descripción del Curso")}}
        </div>

        <div class="relative z-0 w-full mb-8 group">
            <label class="text-sm text-body mb-2 block">Maestro Asignado:</label>
            {{macros.camposNuevos(form.maestro_matricula, class="block py-2.5 px-0 w-full text-sm text-heading
            bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0
            focus:border-brand peer")}}
        </div>

        <div class="flex gap-4">
            <button type="submit"
                class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full">Guardar
                Curso</button>
            <a href="/cursos"
                class="inline-flex justify-center items-center w-full text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                Cancelar
            </a>
        </div>
    </form>
</div>

{% endblock %}